
.AdminStudentclosebtn{
    position: relative;
    /* background-color: red; */
    display:flex;
    justify-content:center;
    
    padding:5px;
    margin: 9px;
}

.AdminStudentOpenBtn{
    position: relative;
/* background-color: red; */
display:flex;
justify-content:center;
/* margin-top: 46px;
padding:5px; */
margin: 5px;
padding:9px;
}
.AdminStartUpclosebtn{
    position: relative;
    /* background-color: blue; */
    display:flex;
    justify-content:center;
    /* margin: top 6px; */
    /* padding:5px; */
    margin: 5px;
    padding:9px;
    
}
.AdminStartUpOpenBtn{
    position: relative;
    /* background-color: blue; */
    display:flex;
    justify-content:center;
    /* margin: top 6px; */
    /* margin-top: 46px; */
    /* padding:5px; */
    margin: 5px;
    padding:9px;
    background-color: #e5e5f7;
    /* opacity: 0.2; */
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(45deg, #6666679a 0, #cececfa2 0.4px, #e5e5f7 0, #e5e5f7 50%);
}
.AdminDashboardmainDiv{
    /* background-color: rgb(255, 0, 162); */
    position: relative;
    width: 76.3%;
    left: 20.69%;
    top: 25px;
    display: flex;
    justify-content: space-around;
    /* height: 69vh !important; */
    min-height: 55vh !important;
    align-items: center;
    
  
   
}
.adminbtn{
    background-color: var(--color-primary) !important;
    color: white !important;
}
.onecardadmindash{
    background-color: var(--color-nav) !important;
}

@media only screen and (max-width:600px){
    .AdminDashboardmainDiv{
     
        position: relative;
      width: 90vw;
        left: 0px;
        /* height: 100vh; */
        /* height: 20vh; */
        margin: auto;
        /* padding: 10px; */

        /* top: 60px; */
        height: auto !important;

    }
}

.NoOfStudents{
    /* background-color: red; */
    background-color: rgb(9, 9, 10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    height: 40%;

}
.NoOfStartUps{
    /* background-color: blanchedalmond; */
    background-color: rgb(9, 9, 10);
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    height: 40%;

}
.NoOfJobDesc{
    /* background-color: aqua; */
    background-color: rgb(9, 9, 10);
    /* background-color: rgb(205, 202, 202); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    height: 40%;
}
.AdminDashboardmainDiv span{
    font-weight: 900;
    font-size: 3rem;
    padding: 10px;
    /* color: rgb(5, 5, 39); */
    /* color: rgb(34, 249, 5); */
    color: var(--color-extra) !important;

}
.AdminDashboardmainDiv h2{
    /* color: white; */
    color: var(--color-extra) !important;
}

.adminregonOffBtndiv{
    /* background-color: red !important; */
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
    width: 70vw;
    /* margin: auto; */
    left: 25%;
   
    
}
@media  only screen and (max-width:600px){
    .AdminDashboardmainDiv{
        flex-direction: column;
    }
    .NoOfStudents{
        width: 100%;
        margin: 10px;
      
    }
    .NoOfStartUps{
        width: 100%;
        margin: 10px;
    }
    .NoOfJobDesc{
width: 100%;
margin: 10px;
    }
    .adminregonOffBtndiv{
        flex-direction: column;
        left: 0;
        margin: auto;
        width: 100%;
     
    }
}