.maindiv1{
    /* background-color: red; */
    position: relative;
    width: 83.3%;
    left: 16.69%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;

}


@media only screen and (max-width:600px){
    .maindiv1{
        /* background-color: red; */
        position: relative;
      width: 100%;
        left: 0px;
        height: 100vh;
    }
}