.Admincards{
    /* background-color: yellowgreen; */
    display: flex;
    margin: auto !important;
    width: 80%;
    
}
.mainCardDiv{
    /* background-color: red; */
    background-color: white;
    position: relative;
    width: 83%;
    z-index: 0;
    /* width: 60%; */
    left: 17%;
    padding: 10px;
  
}
.mainCardDiv .search{
    /* opacity: 0.2; */
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(45deg, #6666679a 0, #cececfa2 0.4px, #e5e5f7 0, #e5e5f7 50%) !important;
    background-color: #e5e5f7 !important;
    /* padding: 10px; */
    padding:0px !important;
    padding-left: 0px !important;
    /* width: ; */
/* width: auto; */
display: flex;
box-shadow: inset !important;

justify-content: center;
}
.search {
    position: relative;
    box-shadow: none !important;
}
.StartUpsearch{
    box-shadow: inset !important;
}
#outlined-read-only-input{
    width: 50vw!important;
    height: 10%;
    /* background-color: red; */
    font-size: 1.6rem !important;
    
}
#outlined-read-only-input label{
    font-size: 7rem !important;
}

@media only  screen and (max-width:600px){
    .mainCardDiv{
        left: 0px;
        width: 100% !important;
    }
    .Admincards{
        flex-direction: column;
    }
}

