
body{
    margin: 0px !important;
    padding-right: 0 !important;
}
body.modal-open {
    padding-right: 0px !;

}
.container666{
  
    
 
}
.modal-dialog{
    position: absolute!important;
    /* right: 40%!important; */
    left: 35%;
    width: 100% !important;
    /* background-color: rgb(235, 231, 231); */
    margin: auto !important;
    top: 15%;
}
.modal-content{
    /* background-color: red !important; */
}
.modelbtn{
    /* background-color: red !important; */
}
.model{
 


    
}
.modelhead{
  
}
@media only screen and (max-width:600px) {
    .modal-dialog{
        /* left: 35%; */
        left: 0% !important;
        width: 100% !important;
        /* background-color: rgb(235, 231, 231); */
        margin: auto !important;
        top: 15%;
    }
}