@import '../../const.css';


body{
    margin: 0px !important;
    padding-right: 0 !important;
}
body.modal-open {
    padding-right: 0px !;

}
.container666{
  
    
 
}
.starupmodedomain{
    font-size: 0.8rem !important;
    

}
.modelweblinkanchr{
    color: var(--color-footer) !important;

}
.modelweblinkanchr:hover{
    text-decoration: underline !important;
}

.ViewdetailsJObDesc{
background-color: var(--color-primary) !important;
border: unset;
width: 100%;


}
.AdminViewdetailsJObDesc{
    background-color: var(--color-primary) !important;
    /* width: 100% !important; */
    font-size: 0.8rem !important;
    margin-top: 3px !important;
  
    font-size: 1.03rem !important;
    width: 95%;
    border-radius: 5px;
    border: none;
    padding: 4px;
}
.modal-dialog{
    position: absolute!important;
    /* right: 40%!important; */
    left: 35%;
    width: 100% !important;
    /* background-color: rgb(235, 231, 231); */
    margin: auto !important;
    top: 15%;
}
.modal-content{
    /* background-color: red !important; */
}
.modelbtn{
    /* background-color: red !important; */
}
.JobDescStudDetails .span1{

    color: var(--color-primary) !important;
}
.JobDescStudDetails .span2{
    margin-left: 5px;
color: var(--color-footer);
}
.closebtnmodel{
    background-color: var(--color-primary) !important;
    color: white !important;
}
@media only screen and (max-width:600px) {
    .modal-dialog{
        /* left: 35%; */
        left: 0% !important;
        width: 100% !important;
        /* background-color: rgb(235, 231, 231); */
        margin: auto !important;
        top: 15%;
    }
}