.LogoutbtnAsilde{
    width: 50%;
    display: inline-block;
    margin: auto;
    background-color: red;
    color: white !important;
   
    padding: 5px;
    margin-left: 15px;
    border: none;
    border-radius: 3px;
}
.LogoutbtnAsilde:hover{
    transform: scale(0.9);
}
.DashboardmainDiv{
    /* background-color: red; */
    position: relative;
    width: 83.3%;
    left: 16.69%;
}

@media only screen and (max-width:600px){
    .DashboardmainDiv{
        /* background-color: red; */
        position: relative;
      width: 100%;
        left: 0px;
        height: 100vh;
    }
}