.LogoutbtnAsilde{
    width: 50%;
    display: inline-block;
    margin: auto;
    background-color: red !important;
    color: white !important;
   
    padding: 5px;
    margin-left: 15px;
    border: none;
    border-radius: 3px;
}
.LogoutbtnAsilde:hover{
    transform: scale(0.9);
}
.DashboardmainDiv{
    background-color: red;
    position: relative;
    width: 70vw;
    top: 50px;
    left: 23.69%;
    height: 50vh;
}
.StartUpinnnderdiv{
    width: 60vw;
    background-color: blue;
}

@media only screen and (max-width:600px){
    .DashboardmainDiv{
        /* background-color: red; */
        position: relative;
      width: 80vw;
        left: 0px;
        margin: auto;
        
     
    }
}