@import '../const.css';
body{
    /* overflow: hidden;  */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.Registerlinkabout{
    color: unset;
}
.Registerlinkabout:hover{
    color: unset;
}

.mianAbourSection{
    /* background-color: aqua; */
    /* height: 450vh; */
    position: relative;
    margin-bottom: 100px;
    top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.maininermain{
    /* background-color: blueviolet; */
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}
.about{
    /* background-color: aquamarine; */
    width: 98vw;
  margin: 10px;
    /* height: 25vh; */
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around !important;
   
}
.about img{
    width: 25vw;
    border-radius: 100%;
    border: 5px solid white;
}
.innermain1_1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    /* background-color: rgb(54, 53, 53); */
    padding: 10px;
}
.innermain1_1 p{
    font-size: 2rem;
    padding: 20px;
    background-color: var(--color-footer);

    color: var(--color-text);
    font-weight: 400;
    padding: 35px !important;
}

.innermain1_1 .leftpara{
    border-radius: 20px 0px 0px 20px;
}
.innermain1_1 .rightpara{
    border-radius: 0px 20px 20px 0px;
}
.innermain1_1 p span{
    font-weight: 400;
}
.innermain1_2{
    /* background-color: chartreuse; */
    height: 100%;
    display: flex;
    justify-content: center;
}

.maininner2{
    /* background-color: red; */
}
.takeaways{
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
    font-weight: 600;
   
}
.takeaways h1{
font-size: 3.2rem;
padding: 5px;
color: var(--color-primary);

}
.hrtake{
    border-bottom: 2px solid rgb(3, 93, 153);
    height: 2px;
    width: 60vw;
}
.takeaways p{
    padding: 7px;
    font-weight: 500;
    /* background-color: red; */
    margin-top: 4px;
    font-weight: 500;
}
.takeawaysection{
    /* background-color: red; */
    /* height: 50vh; */
}
.TakeAwaysForStart{
    background-color: var(--color-footer);
    width: 94.8vw;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}
.TakeAwaysForstudent{
    background-color: var(--color-footer);
    width: 94.8vw;
    margin: auto;
    border-radius: 10px;
}

.starttakeleft{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.starttakeleft h1{
    /* background-color: blue; */
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 3rem;
    color: rgb(190, 187, 187);
}
.starttakeleft ul li{
    list-style: square;
    font-weight: 400;
    color: var(--color-text);
}
.starttakeright{
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.starttakeright img{
    width: 25vw;
    border-radius: 100%;
    border: 5px solid var(--color-text);;
}

.whocanapllydiv{
    /* background-color: red; */
   
    /* width: 94.8vw; */
    /* margin: auto; */
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.innerwhoapply{
    /* background-color: white; */
    width: 94.8vw;
    margin: auto;
    text-align: center;
    padding: 10px;
    
}
.innerwhoapply h1{
    font-size: 3.3rem;
    color: var(--color-primary);
    font-weight: 600;
}
.innerwhoapply li{
    font-weight: 500;
}
.whoapplyregister{
    display: flex;
    /* background-color: red; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
}
.whoapplyregister h4{
    margin-right: 5px;
    color: rgb(81, 81, 82);
    font-weight: 600;
}
.whoapplyregister p{
    /* background-color: rgb(214, 152, 29); */
    font-weight: 600;
}
.whoregisterbtn{
    font-size: 2.5rem !important;
    margin-top: 10px !important;
    padding-left:20px !important;
    padding-right: 20px !important;
    /* width: ; */
    background-color: var(--color-buttons) !important;
    color: white !important;
}
.whoregisterbtn:hover{
    transform: scale(0.9);
}