.mainAside{
    /* background-color: red; */
    /* display: flex; */
    /* flex-direction: row; */
  /* width: 15%; */
 
  position: fixed;
  /* z-index: 10000; */
  /* width: 27%; */
  /* background-color: red; */
  
  height: 100vh;

}
#sidebar{
  
   /* position: sticky; */
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5) !important;
    /* background: transparent !important; */
    backdrop-filter: blur(8px) !important ;
}

@media only screen and (max-width: 600px) {
  .mainAside{
    height: auto;
    position: static;
  }
  #sidebar{
    /* background-color: red !important; */
    height: auto;
    /* position:s; */
  }

}