.footer{
/* background-color: rgb(239, 239, 57) !important; */
/* width: 82.2vw !important; */
/* margin-left: 16.7%; */
/* position: static; */
position: relative;
/* top: 600px; */
}
.footermain{
    display: flex;
    justify-content: right;
   
    /* background-color: aqua; */
    /* width: 55%; */
    width: 100%;
    justify-content: flex-end;
    height: 50vh;
}