


.fino{
    font-size: medium;
    font-family: 'Roboto';

}
.forgotpassmaindiv{
    border-radius: 10px !important;
}
.forgotpassheader{
    background-color: var(--color-footer) !important;
    border-radius: 10px 10px 0px 0px !important;
}
.forgotpassbtn{
    background-color: var(--color-footer) !important;
    border: none;
}