
.NavLogInbtn{
    font-size: 1.5rem !important;
}

/*  */

#Navbar{
    position: sticky;
background-color: rgba(0, 0, 0, 0.5) !important;
   /* background: transparent !important; */
   backdrop-filter: blur(8px) !important ;
   
    height: 15vh;
    /* width: 98vw !important; */
    padding-top: 10px;
    /* margin-top: 5% !important; */
    top: 20px;
   
    /* background-color: rgb(224, 219, 219) !important; */
    /* margin: 10px; */
    width: 95vw !important;
    margin-bottom: 20px !important;
    /* margin: auto !important; */
    border-radius: 10px !important;
    margin-bottom: 10px !important;
    margin: auto;
    

}
.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper{
    /* top: 75px !important; */
    z-index: 200000000000000000 !important;
    /* background-color: red !important; */
  
}

.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper{
    /* top: 72px !important; */
   
}

@media only  screen and (max-width:600px) {
    
}