.StartUpsignupicondiv{
    /* background-color: red; */
margin-bottom: 28px;
margin-right: 4px;
padding: 3px;
}

.signupicondiv{
  /* background-color: red; */
margin-bottom: 28px;
margin-right: 4px;
padding: 3px;
}

#Signupchangediv{
 /* background-color: brown; */
 width: 100%;
       
       
    }

.signupcardinfo{
  background-color: white;
  border-radius: 10px;
}

.sign1maini{
  /* background-color: red; */
  width: 70%;
  /* margin-left: auto !important; */
 
}
.signupmaindiv{
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  top: 20px;
  position: relative;
}

.Signupafterchangediv{
  /* background-color: rgb(1, 0, 5); */
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}    
    .signupbtncolor{
   
    background-color: var(--color-footer) !important;
  
   
}
.signupregisterbtn{
  background-color: var(--color-footer) !important;
  width: 150px;
}
.Signupchangebtn1:hover{
  color: white !important;
}
.Signupchangebtn2:hover{
/* color: orangered !important; */
color: white !important;

/* background-color: red !important; */
}



#sign1main{
     /* background-color: rgb(167, 206, 28); */
     /* width: 80% !important; */
     /* margin: auto; */
     /* display: flex; */
     /* flex-direction: column;
     justify-content: space-around;
     align-items: center;
     padding: 20px; */
}

HTML CSSResult Skip Results Iframe
EDIT ON
.float-area{
  height:100vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.floating-img{
  transform: translateY(-10%);
  animation: floater 1.5s infinite;
  transition: ease 0.5s;
  /* width: 80px; */
  /* height:80px; */
}



@keyframes floater {
  0%{transform: translateY(-10%);transition: ease 0.5s;}
  50%{transform: translateY(10%);transition: ease 0.5s;}
}
