#Signupchangediv{
 /* background-color: brown; */
 width: 100%;
       
       
    }

.signupcardinfo{
  background-color: white;
  border-radius: 10px;
}

.Signupafterchangediv{
  /* background-color: rgb(1, 0, 5); */
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}    
    .signupbtncolor{
   
    background-color: grey !important;
   
}
.Signupchangebtn2{
/* color: orangered !important; */

/* background-color: red !important; */
}



#sign1main{
     /* background-color: aqua; */
     width: 80% !important;
     margin: auto;
     display: flex;
     flex-direction: column;
     /* justify-content: space-around; */
     align-items: center;
     padding: 20px;
}

HTML CSSResult Skip Results Iframe
EDIT ON
.float-area{
  height:100vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.floating-img{
  transform: translateY(-10%);
  animation: floater 1.5s infinite;
  transition: ease 0.5s;
  /* width: 80px; */
  /* height:80px; */
}



@keyframes floater {
  0%{transform: translateY(-10%);transition: ease 0.5s;}
  50%{transform: translateY(10%);transition: ease 0.5s;}
}
