
.studentmaindiv2{
        /* padding: 120px 0; */
        position: relative;
        left: 20%;
       margin: 20px;
       padding: 20px;
        /* overflow: hidden; */
        /* position: relative; */
        background: #010004 !important;
        width: 70vw;
        /* height: 100vh; */
        border-radius: 10px;
}



.card-style1 {
    box-shadow: 0px 0px 10px 0px rgb(89 75 128 / 9%);
}

.border-0 {
    border: 0 !important;
}

/* student image */




.selectDiv {
    width: 40vw;
}


/* student start */

.cardStudentprofile {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /* background-color: #c20b0b; */
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.25rem;
  width: 100%;
background-color: white;
border-radius: 10Px;
  /* position: absolute; */
  /* height: 49vh; */
}


#studentrofileedit {
    position: sticky;
  left: 100%;
    z-index: 1000;
    width: 75px;
    padding: 10px;
    font-size: 4rem;
    background-color: #ceaa4d !important;
    color: white !important;
    border: none;

    margin: 0px;
}

#stuprofileedit{
    position: sticky;
    left: 100%;
      z-index: 1000;
      width: 75px;
      padding: 10px;
      font-size: 4rem;
      background-color: #ceaa4d !important;
      color: white !important;
      border: none;
  
      margin: 0px;
}



.studentImgDiv{
    position: absolute;
    padding: 0 3rem;
    margin: 0;
    height: 24rem;
    width: 30rem;
    /* background-color: red; */
}


.studentImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#StudentUpmain{
    background-color: red !important;
    width: 82.22vw !important;
}
.StudentDivSectionabv{
    background-color: #15395A !important;
    
}

/* student end */



/* startUp start */
.cardStartUpprofile {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #c20b0b; */
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    width: 100%;
  background-color: white;
  border-radius: 10Px;
    /* position: absolute; */
    /* height: 49vh; */
}





.startUpImgDiv {
    position: absolute;
    padding: 0 3rem;
    margin: 0;
    height: 24rem;
    width: 30rem;
    /* background-color: red; */
}


.StartUpmain{
    background-color: red !important;
    width: 70vw !important;
    left: 17%;
    height: 70vh;
    display: flex;
    flex-direction: column;
}
.studentDetails{
    position: relative;
    left: 40rem;
}

.startUpDetails{
    position: relative;
    left: 40rem;
    
}

.StartUpimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.student1main{
    /* background-color: #4dce81 !important; */
    display: flex;
    flex-direction: column; 
}

.startup1main{
    /* background-color: #ceaa4d !important; */
    display: flex;
    flex-direction: column;
   
}

.startup1{
    /* background-color: #16bc3d !important; */
    display: flex;
 
}
/* startUp end */



.StartUpSection {
    /* padding: 120px 0; */
    position: relative;
    left: 20%;
   margin: 20px;
   padding: 20px;
    /* overflow: hidden; */
    /* position: relative; */
    background: #010004 !important;
    width: 70vw;
    /* height: 100vh; */
    border-radius: 10px;
    
}

.mb-2-3,
.my-2-3 {
    margin-bottom: 2.3rem;
}

.section-title {
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}

.text-primary {
    color: #ceaa4d !important;
}

.text-secondary {
    color: #15395A !important;
}

.font-weight-600 {
    font-weight: 600;
}

.display-26 {
    font-size: 1.3rem;
}

@media screen and (min-width: 992px) {
    .p-lg-7 {
        padding: 4rem;
    }
}

@media screen and (min-width: 768px) {
    .p-md-6 {
        padding: 3.5rem;
    }
}

@media screen and (min-width: 576px) {
    .p-sm-2-3 {
        padding: 2.3rem;
    }
}

.p-1-9 {
    padding: 1.9rem;
}

.bg-secondary {
    background: #15395A !important;
}

@media screen and (min-width: 576px) {

    .pe-sm-6,
    .px-sm-6 {
        padding-right: 3.5rem;
    }
}

@media screen and (min-width: 576px) {

    .ps-sm-6,
    .px-sm-6 {
        padding-left: 3.5rem;
    }
}

.pe-1-9,
.px-1-9 {
    padding-right: 1.9rem;
}

.ps-1-9,
.px-1-9 {
    padding-left: 1.9rem;
}

.pb-1-9,
.py-1-9 {
    padding-bottom: 1.9rem;
}

.pt-1-9,
.py-1-9 {
    padding-top: 1.9rem;
}

.mb-1-9,
.my-1-9 {
    margin-bottom: 1.9rem;
}

@media (min-width: 992px) {
    .d-lg-inline-block {
        display: inline-block !important;
    }
}

.rounded {
    border-radius: 0.25rem !important;
}

/* edit btn */












@media only screen and (max-width: 600px) {
.studentmaindiv2{
    width: 90vw;
    left: 0%;
    margin: auto;
}  
#studentrofileedit{
    left: 88.56%;
    width: 54px;
    margin-bottom: 10px;
}

#stuprofileedit{
    left: 88.56%;
    width: 54px;
    margin-bottom: 10px;
}

.StartUpSection{
    width: 90vw;
    left: 0%;
    margin: auto;
}

.StartUpmain{
    /* position: sticky;
width: 100vw;
background-color: blue !important;
top: 80%; */
display: flex;
flex-direction: column;
/* width: 100vw !important; */
/* height: 100vh; */
/* margin-left: auto; */
/* margin-bottom: 0px !important; */

}
.startUpDetails{
    position: static;
left: 0px;
}

.studentDetails{
    position: static;
left: 0px;
}
.studentImgDiv{
    position: static;
}
.startUpImgDiv{
    position: static;
}
}








