:root{
    --color-primary: #50223c;
    --color-secondary: #1c2340fc;
    --color-nav: #1c2340d3;
    --color-back: #f0dac5;
    --font-size-head: 7rem;
    --font-size-sub: 5rem;
    --font-size-para: 3rem;
}