:root{
    --color-primary:#11009E ;
    /* --color-secondary: #1c2340fc; */
    --color-navbar:#4a42e4db;
    --color-nav: #4942E4 !important;
    --color-footer:#4942E4;
--color-buttons:#11009E;
    --color-text:white;
   --color-text2:#9BA4B5;
    --color-back: #ffff;
    --font-size-head: 7rem;
    --font-size-sub: 5rem;
    --font-size-para: 3rem;

}

